<div class="site-blocks-cover" style="background-image: url('../../Asset/images/hero_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                <div class="site-block-cover-content text-center">
                    <h2 class="sub-title">Thuốc Hiệu Quả, Thuốc Mới Mỗi Ngày</h2>
                    <h1>Chào Mừng Bạn Đến Với Dược Phẩm</h1>
                    <p>
                        <a href="#" class="btn btn-primary px-5 py-3">Mua Ngay</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-stretch section-overlap">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="banner-wrap bg-primary h-100">
                    <a href="#" class="h-100">
                        <h5>Miễn Phí <br> Giao Hàng</h5>
                        <p>
                            Giao hàng toàn quốc
                            <strong>Mua sắm thả ga không lo phí vận chuyển.</strong>
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="banner-wrap h-100">
                    <a href="#" class="h-100">
                        <h5>Giảm Giá Mua Hàng <br> Theo Mùa Giảm Giá 50%</h5>
                        <p>
                            Các sản phẩm mới nhất thị trường
                            <strong>Mua sắm thả ga không lo về giá.</strong>
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="banner-wrap bg-warning h-100">
                    <a href="#" class="h-100">
                        <h5>Mua <br> Thẻ Tặng Quà</h5>
                        <p>
                            Cơ hội nhận những phần quà hấp dẫn
                            <strong>Khi bạn nhanh tay sở hữu thẻ thành viên tích điểm cơ hội nhận quà là rất lớn.</strong>
                        </p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Sản Phẩm Phổ Biến</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <span class="tag">Giảm Giá</span>

                <a href="shop-single.html"><img src="~/Asset/images/product_01.png" /></a>
                <h3 class="text-dark"><a href="shop-single.html">Bioderma</a></h3>
                <p class="price"><del>95.00</del> &mdash; $55.00</p>
            </div>
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <a href="shop-single.html"><img src="~/Asset/images/product_02.png" /></a>
                <h3 class="text-dark"><a href="shop-single.html">Chanca Piedra</a></h3>
                <p class="price">$70.00</p>
            </div>
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <a href="shop-single.html">
                    <img src="~/Asset/images/product_03.png" />
                </a>
                <h3 class="text-dark"><a href="shop-single.html">Umcka Cold Care</a></h3>
                <p class="price">$120.00</p>
            </div>

            <div class="col-sm-6 col-lg-4 text-center item mb-4">

                <a href="shop-single.html">
                    <img src="~/Asset/images/product_04.png" />
                </a>
                <h3 class="text-dark"><a href="shop-single.html">Cetyl Pure</a></h3>
                <p class="price"><del>45.00</del> &mdash; $20.00</p>
            </div>
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <a href="shop-single.html">
                    <img src="~/Asset/images/product_05.png" />
                </a>
                <h3 class="text-dark"><a href="shop-single.html">CLA Core</a></h3>
                <p class="price">$38.00</p>
            </div>
            <div class="col-sm-6 col-lg-4 text-center item mb-4">
                <span class="tag">Sale</span>
                <a href="shop-single.html">
                    <img src="~/Asset/images/product_06.png" />
                </a>
                <h3 class="text-dark"><a href="shop-single.html">Poo Pourri</a></h3>
                <p class="price"><del>$89</del> &mdash; $38.00</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <a href="shop.html" class="btn btn-primary px-4 py-3">Xem Tất Cả Sản Phẩm</a>
            </div>
        </div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Sản Phẩm Mới</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3 products-wrap">
                <div class="nonloop-block-3 owl-carousel">

                    <div class="col-sm-6 col-lg-4 text-center item mb-4">


                        <a href="shop-single.html"><img src="~/Asset/images/product_01.png" /></a>
                        <h3 class="text-dark"><a href="shop-single.html">Bioderma</a></h3>
                        <p class="price"><del>95.00</del> &mdash; $55.00</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 text-center item mb-4">
                        <a href="shop-single.html"><img src="~/Asset/images/product_02.png" /></a>
                        <h3 class="text-dark"><a href="shop-single.html">Chanca Piedra</a></h3>
                        <p class="price">$70.00</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 text-center item mb-4">
                        <a href="shop-single.html">
                            <img src="~/Asset/images/product_03.png" />
                        </a>
                        <h3 class="text-dark"><a href="shop-single.html">Umcka Cold Care</a></h3>
                        <p class="price">$120.00</p>
                    </div>

                    <div class="col-sm-6 col-lg-4 text-center item mb-4">

                        <a href="shop-single.html">
                            <img src="~/Asset/images/product_04.png" />
                        </a>
                        <h3 class="text-dark"><a href="shop-single.html">Cetyl Pure</a></h3>
                        <p class="price"><del>45.00</del> &mdash; $20.00</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="title-section text-center col-12">
                <h2 class="text-uppercase">Đánh Giá</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 block-3 products-wrap">
                <div class="nonloop-block-3 no-direction owl-carousel">

                    <div class="testimony">
                        <blockquote>

                            <img src="~/Asset/images/person_1.jpg" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>&ldquo;Dựa trên nhiều yếu tố khách quan, tôi đưa ra nhận định về các sản phẩm do Pharma tạo ra đưa đến người dùng đạt được hiệu quả khá tốt so với mặt bằng sản phẩm hiện tại.&rdquo;</p>
                        </blockquote>

                        <p>&mdash; Kelly Holmes</p>
                    </div>

                    <div class="testimony">
                        <blockquote>

                            <img src="~/Asset/images/person_2.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>
                                &ldquo;Xã hội ngày càng phát triển việc hiện đại hóa máy móc, trang thiết bị là điều rất cần thiết đửa đưa ra được những sản phẩm tốt,
                                đáp ứng được nhu cầu của người tiêu dùng là điều đáng được tán thưởng.&rdquo;
                            </p>
                        </blockquote>

                        <p>&mdash; Rebecca Morando</p>
                    </div>

                    <div class="testimony">
                        <blockquote>

                            <img src="~/Asset/images/person_3.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>
                                &ldquo;Công nghệ hóa ngày một đi lên việc tạo ra các trang thiết nhằm tối ưu thời lượng sản xuất là việc nên làm, chính điều đó Pharma là nơi đáng tin cậy để các khách hàng tìm đến để trải nghiệm cũng như hợp tác hóa.&rdquo;
                            </p>
                        </blockquote>

                        <p>&mdash; Lucas Gallone</p>
                    </div>

                    <div class="testimony">
                        <blockquote>

                            <img src="~/Asset/images/person_4.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                            <p>
                                &ldquo;Việc phát triển về máy móc nhằm đưa hiệu quả sản xuất kên mức cao nhất Pharma đã đưa ra thị trường nhiều dòng sản phẩm để khách hàng có thể lựa trọn, với các mức giá tương xứng với quy mô hiện tại của mình nhằm hiện thực hóa để. Vì điều đó Pharma luôn đồng hành cùng bạn.&rdquo;
                            </p>
                        </blockquote>

                        <p>&mdash; Andrew Neel</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-secondary bg-image" style="background-image: url('~/Asset/images/bg_2.jpg');">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('~/Asset/images/bg_1.jpg');">
                    <div class="banner-1-inner align-self-center">
                        <h2>Sản Phẩm Pharma</h2>
                        <p>
                            Tự hào là nơi cung cấp các trang thiết bị hiện đại  nhất tới mọi người, tạo cảm giác tin tưởng cho người dùng đã đặt niềm tin vào sản phẩm.
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('~/Asset/images/bg_2.jpg');">
                    <div class="banner-1-inner ml-auto  align-self-center">
                        <h2>Đánh Giá từ Chuyên Gia</h2>
                        <p>
                            Với quy mô sản xuất lớn và giàu kinh nghiệm chúng tôi cam kết sản phẩn đạt chuẩn chất, đã được kiểm định bởi nhiều chuyên gia và có đánh giá 5 sao.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>